ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
/* TODO - 1 - Element selector */
p {color:red;}
/* TODO - 2 - Class selector */
.note{
  font-size:20px
}
/* TODO - 3 - ID selector */
#id-selector-demo{color:green;}

/* TODO - 4 - Attribute selector */
li[value="4"]{
  color:blue;
}
/* TODO - 5 - Universal selector */
*{text-align: center;}